﻿@model PassionProject.Models.ViewModels.SongEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit "@Model.song.SongName"</h2>

<form method="POST" action="/Song/Edit/@Model.song.SongID">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input type="text" value="@Model.song.SongName" id="SongName" name="SongName" />
    </div>

    <div class="inprow">
        <div class="inplabel">Playlist</div>
        <select id="SongPlaylist" name="SongPlaylist">
            @foreach (var playlist in Model.playlists)
            {
                string current = "";
                if (playlist.PlayListID == Model.song.playlist.PlayListID)
                {
                    current = "selected";
                }

                <option value="@playlist.PlayListID" @current>@playlist.PlayListName</option>
            }

        </select>
    </div>

    <div class="inprow">
        <div class="inplabel">Description</div>
        <textarea id="SongDescription" name="SongDescription">@Model.song.SongDescription</textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>