﻿@model IEnumerable<PassionProject.Models.Song>
@{
    ViewBag.Title = "List";
}

<div class="banner" id="pagebanner">
    <h2>Songs</h2>
</div>
<div class="recadd">
    @Html.ActionLink("Make a New Song", "New")
</div>

<div class="container">
    @foreach (var Song in Model)
    {
        
            <div class="list-group">
                <div class="list-group-item">
                <label class="list-group-item-heading">@Html.ActionLink(Song.SongName, "Show/" + Song.SongID)</label>
              
                <p class="list-group-item-text">Description: @Song.SongDescription</p>
                <span class="list-group-item-text">
                    
                        @Html.ActionLink("Edit", "Edit/" + Song.SongID) |

                        <!-- Delete Playlist-->

                        @Html.ActionLink("Delete", "Delete/" + Song.SongID)
                    
                </span>
                </div>
            </div>
            

    }
</div>