﻿@model IEnumerable<PassionProject.Models.Playlist>
@{
    ViewBag.Title = "New";
}

<h2>New Song</h2>
<form method="POST" action="/Song/Create">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="SongName_New" name="SongName_New" />
    </div>
    <div class="inptrow">
        <label class="inplabel">Playlist</label>
        <select id="PlayList_New" name="PlayList_New">
            @foreach (var playlist in Model)
            {
                <option value="@playlist.PlayListID">@playlist.PlayListName</option>
            }
        </select>
    </div>
    <div class="inprow">
        <div class="inplabel">Description</div>
        <textarea id="SongDescription_New" name="SongDescription_New"></textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>