﻿@model PassionProject.Models.Song
@{
    ViewBag.Title = "Show";
}

<h2>@Model.SongName</h2>
<div class="promptlink">
    @Html.ActionLink("Edit", "Edit/" + Model.SongID)
</div>
<div class="promptlink">
    @Html.ActionLink("Delete", "Delete/" + Model.SongID)
</div>
<div>
    <div class="pagecolumn">
        <article class="pagecontent">
            <p>@Model.SongDescription</p>
        </article>
    </div>
</div>