﻿@model PassionProject.Models.ViewModels.PlaylistEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.playlist.PlayListName</h2>

<form method="POST" action="/Playlist/Edit/@Model.playlist.PlayListID">
    <div class="inprow">
        <label class="inplabel">Playlist Name</label>
        <input type="text" value="@Model.playlist.PlayListName" id="PlayListName" name="PlayListName" />
    </div>

    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>


