﻿@model IEnumerable<PassionProject.Models.Playlist>
@{
    ViewBag.Title = "New";
}

<div class="banner" id="blogbanner">
    <h2>Playlists</h2>
</div>
<div class="recadd">
    @Html.ActionLink("Add new Playlist!", "New", "Playlist")
</div>
        <div class="reccontainer" style="overflow:hidden;">

            @foreach (var playlist in Model)
            {
            <div class="list-group">
                <div class="list-group-item">
                    
                        <label class="list-group-item-heading">@Html.ActionLink(playlist.PlayListName, "Show/" + playlist.PlayListID)</label>
                    
                    <p class="list-group-item-text">Total Songs: @playlist.Songs.Count()</p>
                        <div class="list-group-item-text">
                            <!-- Edit Playlist-->
                            @Html.ActionLink("Edit", "Edit/" + playlist.PlayListID) |

                            <!-- Delete Playlist-->

                            @Html.ActionLink("Delete", "Delete/" + playlist.PlayListID)
                        </div>
                    
                </div>
          
            </div>

            }
        </div>
       