﻿@model PassionProject.Models.Playlist
@{
    ViewBag.Title = "New";
}

<h2>New Palylist</h2>

<form method="POST" action="/Playlist/New">
    <div class="inprow">
        <label class="inplabel">Playlist Name</label>
        <input id="Playlist_New" name="Playlist_New" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>

</form>
