﻿@model PassionProject.Models.Playlist
@{
    ViewBag.Title = "New";
}

<h2>Playlist "@Model.PlayListName" </h2>
<div>
    @Html.ActionLink("Edit", "Edit/" + Model.PlayListID)
</div>

<div>
    @Html.ActionLink("Delete", "Delete/" + Model.PlayListID)
</div>
<div>
    @Html.ActionLink("Make A New Playlist!", "New/", "Page")
</div>

<!-- List of songs in playlist-->
<h3>Songs in playlist</h3>

@foreach (var song in Model.Songs)
{
    <span class="recitem">@Html.ActionLink(song.SongName, "Show/" + song.SongID, "Page")</span>
}

    